*{
    /* height: 100vh; */
    border: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.bigtext{
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 7%;
}
#create{
    color: #00582f;
    font-size: x-large;
    font-weight: 600;
    text-align: center;
}
.product{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.caption{
    color: #00582f;
    font-weight: 620;
    margin-top: 1rem;
}
.dash {
    height: 90vh;
}
.resu-cap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cap {
    margin-top: 1.5rem;
}
img[alt="resu"] {
    width: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.196);
    cursor: pointer;
}