*{
    /* height: 100vh; */
    border: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
.bigtext{
    margin-top: 5rem;
    margin-bottom: 5rem;
    height: 7%;
}
#create{
    color: #00582f;
    font-size: x-large;
    font-weight: 600;
    margin-left: 38%;
}
.product{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 4rem 2rem;
    border-radius: 1rem;
    background-color:#BFD8AF;
}
.caption{
    color: #00582f;
    font-weight: 620;
    margin-top: 1rem;
}
.dash {
    height: 90vh;
}