:root {
    --light-green: #BFD8AF;
    --dark-green: #00582F;
    --off-white: #F8F8F8;
    --gold: #aaaa77;
    --red: #FF6969;
  }

.down {
    width: 100%;
    height: 100vh;
    display: flex;
}

.resu-logo {
    margin: 1rem;
    display: flex;
    gap: .5rem;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-green);
    align-items: center;
}

.down-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}
#preview-txt {
    font-size: xx-large;
    width: 60%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    color: var(--dark-green);
}

.resu-logo p {
    margin: auto 0;
}

.left-down {
    width: 50%;
    background: var(--light-green);
    display: flex;
    flex-direction: column;
}

.right-down {
    width: 50%;
    background: transparent;
    display: flex;
    flex-direction: column;
}

.preview {
    width: 70%;
    height: 89%;
    margin: 0 auto;
}

/* .resume-pdf {
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.196);
} */