*{
    margin: 0%;
    border:border-box;
    /* height: 100vh; */
    font-family: "Open Sans", sans-serif;
}
.feed-2 {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
.checklogo{
    width: 20%;
    margin-bottom: 2rem;
}
#greenS{
    color: #00582F;
    font-weight: 600;
}
#greenB{
    color: #00582F;
    font-size: x-large;
    font-weight: 630;
}
