*{
    margin: 0;
    border: border box;
    font-family: "Open Sans", sans-serif;
}
.feedback-page {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
}
.heading2{
    margin-top: 2.5rem;
    font-size: x-large;
    color: #00582F;
    font-weight: bold;
}
.infocol{
    margin-top: 2rem;
    width: 100%;
    margin-bottom: 3rem;
}
.feedback-section input {
    margin-bottom: 2rem;
}