*{
    margin: 0;
    border: border-box;
    font-family: "Open Sans",sans-serif;
   
}
.signin {
    display: flex;
    width: 100%;
}
.left, .right {
    height: 100vh;
    width: 50vw;
    overflow: hidden;
}
.left {
    background: #BFD8AF;
    display: flex;
    flex-direction: column;
}
.head1{

    height: 1.8rem;
    margin-top: 2.4rem;
    display: flex;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head2{
    height: 3rem;
    font-size: x-large;
    font-weight: bold;
}
.smiley{
    width: 128px;
}
img[alt="smile"]
{
    width: 100%;
    height: 100%;
}
.login{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#typing{
    width: 100%;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    height: 30px;
}
.signin-email {
    margin-top: 2rem;
}
.signin-password {
    margin-top: 2rem;
}
button {
    outline: none;
    border: none;
    background: none;
    margin: 0 auto;
}

.w-30 {
    width: 30%;
}

.w-100 {
    width: 100%;
}
#sign{
    font-size: large;
    font-weight: bold;
    color: #00582F;
    margin-top: 6%;

}
