@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --light-green: #BFD8AF;
    --dark-green: #00582F;
    --off-white: #F8F8F8;
}

html {
    height: 100%;
    min-height: 100vh;
    /* overflow: hidden; */
    padding: 0;
    margin: 0;
}

#div1, #div2 {
    height: 100vh;
    /* overflow: hidden; */
}

#div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div1{
    background-color: var(--light-green);
    width: 50%;;
    float: left;
    margin-top: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.template {
    width: 70%;
    margin: auto auto 0 auto;
}

img[alt="res"] {
    width: 500%;
}
.resu{
    margin-top: 1.5rem;
    height: 36px;
    display: flex;
}
.resulogo{
    height: 36px;
    width: 36px;
}
.logo{
    height: 36px;
    width: 100%;
    background-size: cover;
}
.resutext{
    padding-left: 13px;
    font-weight: bold;
    font-size: 1.16rem;
    color: #00582F;
}


#div2{
    width: 50%;
    float: right;
}
.logincon{
    height: 20rem;
    width: 60%;
    margin-top: 2rem;
}
.logincon p {
    margin-bottom: 0;
}
.text{
    font-weight: bold;
    font-size: 1.35rem;
    margin-top: 4rem;
}
.button{
    box-shadow: none;
    height: 60px;
    width: 178px;
    border-radius: 16px;
    background-color: #BFD8AF;
    font-size: 1.1rem;
    font-weight: bold;
    color: #00582F;
    border: 2px solid;
    border-color: var(--light-green);
}

input {
    background: none;
    padding: 1rem;
    padding-left: 0;
    outline: none;
}

.name div, .email div, .password div {
    margin-top: -1.5rem;
}

.input-box input {
    margin-top: 0;
}

.signup-email, .signup-password{
    margin-top: 3rem;
}

.smiley{
    margin-left: 0;
    margin-top: 1rem;
    width:128px;
}

img[alt="res"] {
    width: 100%;
    height: 647px;
}
#typing{
    width: 100%;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    height: 30px;
}

button {
    outline: none;
    border: none;
    background: none;
}

.w-20 {
    width: 20%;
}

.w-100 {
    width: 100%;
}

.button:hover{
    background-color: transparent;
    border: 2px solid;
    border-color: var(--light-green);
}
