.resu-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    padding: 4rem;
    gap: 2rem;
}
.resu-des {
    line-height: 2;
}
.text-des{
    width: 70%;
    color: #00582f;
}
.text {
    text-align: center;
    color: #00582f;
    font-size: xx-large;
}
.desig {
    font-size: 20px;
    font-weight: 500;
}
.desig span {
    font-size: 14px;
    font-style: italic;
}
.Harshini, .Amit, .Rohan{
    display: flex;
    justify-content: space-between;
    background-color: #E1F0DA;
    padding: 4rem;
    margin-top: 10rem;
}
.pic{
    border: 1px solid black;
    width: 20%;
    border-radius: 50%;
}
.Rohan{
    background-color:#D4E7C5;
    margin-top: 20rem;
}
.Amit{
    background-color: #BFD8AF;
    margin-top: 20rem;
}

.aboutus {
    margin-bottom: 20rem;
}